<div class="add_contact">
    <label for="name_first">First Name:</label> <input type="text" id="name_first" /><br/>
    <label for="name_last">Last Name:</label> <input type="text" id="name_last" /><br/>
    <label for="email">Email:</label> <input type="text" id="email" /><br/>
    <label for="phone">Phone:</label> <input type="text" id="phone" /><br/>
    <br/>
    <a href="#" class="save-button">Save Contact</a> | <a href="#"><< Back</a>
</div>
